<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @port.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @port.content %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
